.nav-bar {
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  .rapidapi-logo {
    cursor: pointer;
  }
  .go-back-button {
    width: 7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    color: #1f222e;
    background-color: transparent;
    border: none;
    outline: none;
    img {
      width: 20px;
    }
    span {
      font-size: 1rem;
    }
  }
}
.detailed-movie {
  margin-top: 50px;
  max-width: 1200px;
  margin: 0 auto;

  .poster-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 1.2rem;
    img {
      margin-right: 1.5rem;
      height: 450px;
      width: 300px;
    }
    .data-container {
      .genres-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
        .genre {
          border: 1px solid white;
          border-radius: 1rem;
          padding: 2px 7px;
        }

        div:not(:first-child) {
          margin: 0 5px;
        }
      }
      p {
        max-width: 60ch;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 1rem;

        span {
          font-weight: bold;
          font-size: 1.1rem;
          margin-right: 5px;
        }
      }
    }
  }
}
