.genres-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  .genre {
    border: 1px solid white;
    border-radius: 1rem;
    padding: 2px 7px;
  }

  div:not(:first-child) {
    margin: 0 5px;
  }
}
p {
  max-width: 60ch;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 1rem;

  span {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 5px;
  }
}
