.genres-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  .genre {
    border: 1px solid white;
    border-radius: 1rem;
    padding: 2px 7px;
  }

  div:not(:first-child) {
    margin: 0 5px;
  }
}
